﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Angular/App.js"></script>
    @RenderSection("head")
</head>
<body>
    <div ng-app="app">
        @RenderBody()
    </div>
</body>
</html>
