﻿@model dynamic

@{
    ViewBag.Title = "EchoServer client page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <script src="~/Scripts/Angular/RoomController.js"></script>
    <style>
        .room {
            background-color: gray; width: 200px; height: 200px; max-height: 200px; overflow: scroll; overflow-x:hidden
        }
    </style>
}

<div ng-controller="RoomController" ng-init="init(@(User.Identity.IsAuthenticated.ToString().ToLower()),'@User.Identity.Name')" ng-cloak>
    <div ng-if="!isAuthenticated">
        <input type="text" ng-model="data.login"/>
        <button ng-click="doLogin(data.login)">Login</button>
    </div>
    <div ng-if="isAuthenticated">
        <p>Welcome, {{login}}.</p>
        <button ng-click="doLogout()">Logout</button>
        <div>
            <label>Join room:</label>
            <input type="text" ng-model="data.joinRoom"/>
            <button ng-click="doJoin(data.joinRoom)">Join</button>

            <div ng-if="rooms.length">Rooms:
                <div ng-repeat="room in rooms">
                    Room: {{room.name}}
                    <div class="room" ng-bind-html="room.htmlList(room.messages)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
